  <div class="form-group">
    <label for="postarea1">Write you Post Here</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <div class="form-post">
        <button class="btn btn-primary" type="submit">Create</button>
      </div>
  </div>
</form>