
<div class="col-md-6 row">
    <h2>Login</h2>
    <form id="login">
      <div class="form">
        <label for="email" class="form-label">Email Address:</label>
        <input class="form-input" type="email" id="email-login" name="email"/>
      </div>
      <div class="form">
        <label for="password" class="form-label">Password:</label>
        <input class="form-input" type="password" id="password-login" name="password" />
      </div>
      <div class="form">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
</div>


<div class="row">
    <div class="col-sm-6">
        <h2>Sign Up</h2>
        <form id="signup">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-input" name="name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-input" name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-input" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
    <script src="/js/login.js"></script>